<!DOCTYPE html>
<html ng-app="blog">
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="common/js/core.js"></script>
</head>
<body ng-controller="mainController">
	<h3>All Posts</h3>
	<div class="posts-operations-box">
	<Strong>Sort By</Strong>
	<select ng-change="sortByUpdate()" ng-model="sortByItem">
		<option value="-createdAt" selected>Date</option>
		<option value="title">Title</option>
	</select>
	</div>
	<ul class="post-list">
		<li ng-repeat="post in posts | orderBy:myOrderBy">
			<h3><strong>Title:</strong>{{post.title}}</h3>
			<p><img src="{{post.picUrl}}" alt=""></p>
			<p><strong>Excerpt:</strong>{{post.excerpt}}</p>
			<p><strong>Description:</strong>{{post.description}}</p>
			<a href="#" postId="{{post._id}}" ng-click="deletePost($event)">Delete</a>
			<a href="#" postId="{{post._id}}" ng-click="editPost($event)">Edit</a>
		</li>
	</ul>
	<div class="editPost-box">
	<h3>Edit Post</h3>
	<form action="" method="post" id="editPostFrom">
		<!-- BIND THIS VALUE TO formData.title IN ANGULAR -->
			<div>
            <input type="text" placeholder="title" ng-model="editformData.title">
            </div>
			<div>
			<input type="text" placeholder="excerpt" ng-model="editformData.excerpt">
            </div>
			<div>
			<input type="text" placeholder="Description" ng-model="editformData.description">
			</div>
			<div>
			<button type="submit" postId="{{editformData._id}}" ng-click="savePost($event)">Save</button>
			</div>
	</form>
	</div>
	<h3>Create New Post</h3>
	<form action="" method="post" id="newPostFrom" enctype="multipart/form-data">
		<!-- BIND THIS VALUE TO formData.title IN ANGULAR -->
			<div>
            <input type="text" placeholder="title" ng-model="formData.title">
            </div>
			<div>
			<input type="text" placeholder="excerpt" ng-model="formData.excerpt">
            </div>
			<div>
			<input type="text" placeholder="Description" ng-model="formData.description">
			</div>
			<div>
				<input type="file" ng-model="formData.featuredPic" name="featuredPic" id="featuredPic">
			</div>
			<div>
			<button type="submit" class="" ng-click="createPost()">Add</button>
			</div>
	</form>
</body>
</html>